.header {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  height: 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  min-width: 970px;
}

.header__logo {
  display: flex;
}

.header figure {
  max-height: 100%;
}

.header figure img {
  max-height: 100%;
}

.header__logo--title {
  font-size: 22px;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  display: inherit;
  margin-left: -33px;
}

.header__section {
  display: inherit;
}

.header__section--address {
  display: inherit;
}

.header__section--balance {
  display: inherit;
}

.header__figure {
  margin-right: 8px;
}

.header__figure img {
  max-width: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__address {
  display: inherit;
  align-items: center;
  font-size: 8pt;
  margin-right: 14px;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .header {
    min-width: 752px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  mat-card {
    background-color: brown;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  mat-card {
    background-color: blueviolet;
  }
}
