.header {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    height: 60px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    min-width: 970px;
}

.header__title {
    font-size: 28px;
    margin-left: 8px;
}

.header__section {
    display: inherit;
}

.header__section--address {
    display: inherit;
}

.header__section--balance {
    display: inherit;
}

.header__figure {
    margin-right: 8px;
}

.header__figure img {
    max-width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.header__address {
    display: inherit;
    align-items: center;
    font-size: 8pt;
    margin-right: 14px;
}
