:host {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 18px;
    min-width: 175px;
}

button {
    margin-left: 45px;
    width: 157px;
    height: 26px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #EF5DA8;  
    color: white;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    background-color: #ef5da8b0;
}

mat-card {
    min-width: 533px;
    max-width: 533px;
    min-height: 89px;
    display: inherit;
    align-items: center;
}

mat-card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 91px;
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    mat-card {
        max-width: 440px;
        min-width: unset;
    }
    mat-card-content>:first-child {
        margin-top: 16.3px;
    }
    button {
        margin-left: 0;
    }
    mat-card-content h3 {
        text-align: center;
        line-height: 24px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  }